button {
    margin-top: 15px;
}

.nombre {
    font-weight: bold;
    font-size: 24px;
}

li > div{
    margin-bottom: 15px;
    border-top: 1px solid lightgray;
    width: 500px;
}

ul {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

#total {
    font-size: 24px;
    margin: 20px;
}

.productoPremium {
    font-weight: bold;
    color: #fff;
    background: green;
    border: 3px double white;
    padding: 2px;
}